.wrapper--customer {
    display: flex;
    width: 100%;
    max-width: 1317px;
    min-height: 850px;
    box-sizing: border-box;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    background-color: $white;
    margin-top: -16px;
    border-radius: 16px;
    padding: 16px;
    position: relative;
}

.table--customer {
    width: 100%;
    min-height: 591px;
    margin-bottom: 32px;
}

.table--customer--header {
    width: 100%;
    margin-top: 32px;
}

.table--customer--title {
    font-weight: 600;
    font-size: 20px;
    margin: 31px 16px 16px 16px;
}

.table--customer--action {
    width: 100%;
    @include flexBetween;
    margin-bottom: 16px;
}

.table--customer--filter {
    margin-left: 16px;
}

.customer--search--wrapper {
    height: 40px;
    width: 367px;
    position: relative;
    margin-top: 16px;
    border-radius: 4px;
    border: solid 1px $gray200;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 12px;
    box-shadow: $boxshadowcolor;
}

.customer--search--input {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    padding-left: 8px;
}

.search--icon {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 1px;
    top: 1px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    &:active {
        background-color: $gray050;
    }
}

///
.table--customer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
}

.customer--header--wrapper {
    width: 100%;
    border-bottom: $separator-default;
}

.customer--header--content {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $gray050;
}

.customer--header--title {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    width: 16.5%;
    text-align: start;
    padding: 16px;
}

.customer--wrapper--item {
    width: 100%;
}

.customer--item {
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

.customer--item--content {
    width: 16%;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $gray900;
    text-align: start;
    padding: 16px;
    height: 54px;
    display: flex;
    align-items: center;
}

.customer--item--time {
    width: 16, 66%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $gray500;
    text-align: start;
    padding: 16px;
    height: 54px;

}

.wrapper--action--left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.customer--button--add {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background-color: $blue600;
    color: $white;
    border-radius: 8px;
    width: 102px;
    height: 39px;
    cursor: pointer;
    @include flexCenter;
}

.customer--button--filter {
    width: 68px;
    height: 21px;
    background-color: $white;
    color: $blue500;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
}

.container--icon--customer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.customer--icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 12px;
    display: block;
}

.customer--item--status {
    width: 72px;
    height: 22px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 400px;
    line-height: 22px;
    text-align: center;
}

//paging
.wrapper--paging {

    padding-top: 16px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 16px;
    bottom: 0;
}

.paging--text {
    width: 61px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $gray500;
}

.paging--short {
    width: 14px;
    height: 19px;
    right: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.paging--short--number {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.paging--short--icon {
    margin-left: 8px;
    color: $gray500;
    cursor: pointer;
}

.paging--count {
    width: 76px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    color: $gray900;
    margin-left: 16px;
}

.paging--action {
    @include flexBetween;
    width: 80px;
}

.paging--action--icon {
    padding: 10px;
    width: 100%;
    margin-left: 16px;
    cursor: pointer;


}

.wrapper--footer--edit {
    padding: 0px;
    box-sizing: border-box;
    background: $white;
    border-radius: 16px;
    margin-bottom: 16px;
    width: 100%;
    max-width: 1317px;
    margin-left: 16px;
    margin-bottom: 86px;
}

// Grid
.customer--header--wrapper {
    background-color: $gray050;
    height: 50px;
    border-radius: 8px;
    padding: 16px;
}

.grid--item--customer {
    height: 54px;
    padding: 16px;
    position: relative;
}

.grid--title--customer {
    height: 100%;
}

.item--customer--grid {
    height: 100%;
}
.item--customer{
    color: $gray500;
}
.action--customer {
    width: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    i{
        cursor: pointer;
        padding: 4px;
        width: 16px;
    }
}

.popup--addcustomer {

    height: 100%;
    padding: 16px;
}

.addcustomer--button--submit {
    position: absolute;
    right: 0px;
    bottom: -36px;
    display: flex;
    justify-content: space-between;
    width: 162px;
}

.addcustomer--button--back {

    position: absolute;
    bottom: 0;
    right: 180px;
}

.grid--addcustomer--wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 60px;
    grid-gap: 40px;
}
.grid--addcustomer--groupdate{
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-radius: 8px;
    border: none;
    align-items: center;
    gap: 32px;

div{
    position: relative;
 div{
    form{
        display: flex;
   
div{
    div{
        div{
            input{
                height: 60px;
            }
        }
    }
}
    }
 }
  
}
div{
    position: relative;

}
}
.gen--input{
    background-color: $white;
    height: 12px;
    width: 100px;
    border-radius: 2px;
    position: absolute;
    top: -16px;
    left: -16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $gray500;
    text-align: center;
    z-index: 10;
}
.gen--input--avata{
    position: absolute;
    top: -24px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $gray500;
}


.grid--addcustomer--item {
    display: flex;
    flex-direction: column;
   
    position: relative;
    border-radius: 8px;
    border: none;
    align-items: flex-start;
    
}

.grid--addcustomer--address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: none;
    align-items: flex-start;
    div {
        width: 100%;
        height: 60px;

        div {
            width: 100%;

            div {
                width: 100%;
                    a{
                        height: 58px !important;
                        display: flex;
                        align-items: center !important;
                        span{
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }

                    div {
                        width: 100%;

                        input {
                            height: 60px;
                        }
                    }
                
            }
        }

    }
}


.from--addcustomer {

    width: 100%;
    height: 100%;

}


.addcustomer--name--after {
    background-color: $white;
    height: 12px;
    width: 100px;
    border-radius: 4px;
    position: absolute;
    top: -6px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $gray500;
    text-align: center;
    z-index: 10;
}

.addcustomer--input--name {
    border: 1px solid $gray200;
    height: 54px !important;
    width: 430px !important;
    padding-left: 16px;
    outline: none !important;
    cursor: pointer;
    border-radius: 6px;

    &:focus {
        outline: none !important;
        border: 1px solid $blue300;
        box-shadow: 0 0 10px $gray050;
    }


}


.editcustomer--buton {
    color: $blue500;
    cursor: pointer;
    width: 24px;
    padding: 6px;
}

.deletecustomer--buton {
    color: $red500;
    cursor: pointer;
    width: 24px;
    padding: 6px;
    margin-left: 16px;
    margin-right: 16px;
}

.popup--filtercustomer {
    padding-top: 16px;
    padding-left: 16px;

}

.grid--filtercustomer--wrapper {
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-gap: 16px;
}

.button--onhide {
    position: absolute;
    left: 8px;
    bottom: 8px;
    background-color: $red500;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    color: #fff;

}

.fa--customer--wrapper {
    background-color: $white;
    width: 100%;
}

.bodyfilter--draw {
    width: 100%;
    margin: 0px !important;

}

.bodyfilter--draw {
    overflow: hidden !important;
    height: 95%;
}

.filter--button--submit {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
}

.button--filter--Customer {
    width: 89px;
    margin-right: 8px;
    height: 39px;
}

.wrapper--filed {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;

}

.affter--filter--productsales {
    background-color: $white;
    height: 12px;
    width: 112px;
    border-radius: 2px;
    position: absolute;
    top: -6px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $gray500;
}


.rs-table-cell-content {
    display: flex;
    align-items: center;
}

.rs-table-body-row-wrapper {
    height: 500px !important;
}

.rs-table-cell {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: $gray900;
}

.addOder--button--action {
    color: $blue600;
    cursor: pointer;
    padding: 4px;
}
.rs-picker-search-input{
    display: flex !important;
    align-items: center !important;
}
///
.info--customer--table{
height: 80px;
width: 100%;
padding-left: 16px;
display: flex;
justify-content: flex-start;
align-items: center;
gap: 32px;
}
.info--avata--wrapper{
    height: 80px;
    border-radius: 12px;
    

}
.info--des--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-grow: 1;
}
#upload_img{display: none}
.info--avata--wrapper{
    cursor: pointer;
}
